﻿
@model Facad.DataContract.Client

@using (Html.BeginForm("AddGroup", "ShipmentGroup", FormMethod.Post, new { id = "groupForm", enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(h => h.GroupID)
    @Html.HiddenFor(h => h.ClientID)
    @Html.HiddenFor(h => h.Company)
    @Html.HiddenFor(h => h.CompanyAddress)
    @Html.HiddenFor(h => h.CompanyEmail)
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <table class="defTbl" id="item">
        <tbody>
            <tr>
                <td>
                    @Html.LabelFor(m => m.GroupName, new { @class = "col-md-2 control-label" })
                </td>
                <td colspan="3">
                    <div>
                        @Html.TextBoxFor(m => m.GroupName, new { @class = "form-control itemLong", required = "required" })
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" class="btn btn-default" value="Save" />
                </td>
                <td></td>
                <td>
                    <a class="btn btn-default" onclick="closeModalDialog('modalDialog')" href="javascript:void(0)">Cancel</a>
                </td>
            </tr>
        </tbody>
    </table>
}




