﻿@model Facad.DataContract.Client
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}

<h2>Groups of @Html.ActionLink(Model.Company, "AddClient", "Clients", new { id = Model.ClientID }, new { })</h2>
@Html.ValidationSummary("", new { @class = "text-danger" })

<div id="Shipments">

    <table id="item" class="defTbl">
        <tr class="trTblHead">
            <td>@Html.Label("Name", new { @class = "control-label" })</td>
            <td></td>
            <td></td>
        </tr>
        @{
            var groups = Model.Groups;
            foreach (var item in groups)
            {

                <tr>
                    <td class="col-md-1">
                        @Html.Label(item.Value, new { @class = "control-label" })
                    </td>


                    <td style="text-align:right">
                      
                            <a title="Edit Group" class="btn" href="javascript:void(0)" onclick="CallDialog(this, '@Url.Action("AddGroup", "ShipmentGroup", new { clientID = Model.ClientID, GroupID = item.Key })', '',null)">Edit</a>
                    
                    </td>
                    <td>
                        <div>
                            <a href="javascript:void(0)" class="btn" onclick="openConfirmDialog(function () { removeGroup(event,@Model.ClientID.ToString(), @item.Key.ToString()) })">Delete</a>
                        </div>
                    </td>

                </tr>

            }
        }
    </table>
    @if (Model.IsSuccess == Facad.DataContract.IsSuccess.Yes)
    {
        <input type="button" class="btn btn-default" value="Add Group" title="Add Group" onclick="CallDialog(this, '@Url.Action("AddGroup", "ShipmentGroup", new { clientID = Model.ClientID, GroupID = 0 })', '',null)" />

    }
</div>
