﻿
@model Facad.DataContract.Client

@using (Html.BeginForm("AddShipment", "Shipment", FormMethod.Post, new {id="shipmentForm", enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(h=>h.ShipmentID)
    @Html.HiddenFor(h => h.ClientID)
    @Html.HiddenFor(h => h.Company)
    @Html.HiddenFor(h => h.CompanyAddress)
    @Html.HiddenFor(h => h.CompanyEmail)
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <table class="defTbl" id="item">
        <tbody>
            <tr>
                <td rowspan="4">

                        @if (Model.Shipment.ImageID > 0)
                        {
                            <img class="image_upload_preview"  id="image_upload_previewShipment" src="/blob/Index/@Model.Shipment.ImageID.ToString()" alt="your image" />
                        }
                        else
                        {
                            <img class="image_upload_preview" id="image_upload_previewShipment" src="http://placehold.it/100x100" alt="your image" />
                        }

                    <div class="upload">
                        <input id="inputFileShipment" name="itmImg" onchange="readItemsURL(this, 'image_upload_previewShipment')" type="file">
                    </div>
                </td>

                <td>
                    @Html.Label("Group", new { @class = "col-md-2 control-label" })
                </td>
                <td colspan="2">
                    <div>
                        @Html.DropDownListFor(m => m.Shipment.GroupOfShipmentID, new SelectList(Model.Groups, "Key", "Value"), new { @class = "drp control-label" })
                    </div>
                </td>
                <td>
                    <input type="button" class="btn btn-default" value="Add Group" title="Add New Group" onclick="OpenAddGroupDialog(this, '@Url.Action("AddGroup", "ShipmentGroup", new { clientID = Model.ClientID })', '',null)" />
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Shipment.Name, new { @class = "col-md-2 control-label" })
                </td>
                <td colspan="3">
                    <div>
                        @Html.TextBoxFor(m => m.Shipment.Name, new { @class = "form-control itemLong", required = "required" })
                    </div>
                </td>

            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Shipment.Description, new { @class = "col-md-2 control-label" })
                </td>
                <td colspan="3">
                    <div>
                        @Html.TextAreaFor(m => m.Shipment.Name, new { @class = "form-control itemArr", rows = "2", cols = "20" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Shipment.UofM, new { @class = "col-md-2 control-label" })
                </td>
                <td>
                    <div>
                        @Html.TextBoxFor(m => m.Shipment.UofM, new { @class = "form-control itemLong", required = "required" })
                    </div>
                </td>
                <td>
                    @Html.LabelFor(m => m.Shipment.Price, new { @class = "col-md-2 control-label" })
                </td>
                <td>
                    <div>
                        @Html.TextBoxFor(m => m.Shipment.Price, new { @class = "form-control itemLong itemShort pogh", required = "required", maxlength = "9" })
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                        <input type="submit" class="btn btn-default" value="Submit" />
                </td>
                <td></td>
                <td>
                    <a class="btn btn-default" onclick="closeModalDialog('modalDialog')" href="javascript:void(0)">Cancel</a>
                </td>
            </tr>
        </tbody>
    </table>
}



