﻿@model Facad.DataContract.Client
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}

<h2>Shipments of @Html.ActionLink(Model.Company, "AddClient", "Clients", new { id = Model.ClientID }, new { })</h2>
@Html.ValidationSummary("", new { @class = "text-danger" })

<div id="Shipments">
  
 <table id="item" class="defTbl">
     <tr class="trTblHead">
         <td>@Html.Label("Name", new { @class = "control-label" })</td>
         <td>@Html.Label("Measure", new { @class = "control-label" })</td>
         <td>@Html.Label("Price", new { @class = "control-label" })</td>
         <td></td>
         <td></td>
     </tr>
    @{
        var Shipments = Model.Shipments;
        foreach (var item in Shipments)
        {

            <tr>
                <td class="col-md-1">
                    @Html.Label(item.Name, new { @class = "control-label" })
                </td>
                
          
                <td>
                    @Html.Label(item.UofM, new { @class = "control-label" })
                </td>
                
                <td>
                    @Html.Raw(String.Format("{0:C}", item.Price))
                </td>
                
                <td>
                    <div>
                        <a title="Edit Shipment" href="javascript:void(0)" onclick="CallDialog(this, '@Url.Action("AddShipment", "Shipment", new { clientID = Model.ClientID, ShipmentID = item.ShipmentID })', '',null)">Edit</a>
                    </div>
                </td>
                <td>
                    <div>
                        <a href="javascript:void(0)" onclick="openConfirmDialog(function () { removeShipment(event,@Model.ClientID.ToString(), @item.ShipmentID.ToString()) })">Delete</a>
                    </div>
                </td>

            </tr>

            }
        }
    </table>
    @if (Model.IsSuccess == Facad.DataContract.IsSuccess.Yes)
    {
        <input type="button" class="btn btn-default" value="Add Shipment" title="Add Shipment" onclick="CallDialog(this, '@Url.Action("AddShipment", "Shipment", new { clientID = Model.ClientID, ShipmentID = 0 })', '',null)"/>

    }
</div>

