﻿@model Facad.DataContract.User
@{
    ViewBag.Title = "Forgot your password?";
}

<h2><span class="ttl">@ViewBag.Title.</span></h2>
<section>
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Enter your email.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.UserEmail, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.UserEmail, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Email Link" />
            </div>
        </div>
        @Html.HiddenFor(m => m.ConfirmPassword)
        @Html.HiddenFor(m => m.UserPassword)
    }
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
