﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
   
}
.form-control
{
    max-width:280px;
}
.defTbl{
   width:100%;
    margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-bottom: 1px solid #eeeeee;
}
.cmdTr{
    margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

div.upload {
    width: 157px;
    height: 57px;
    background: url(/images/upload.png);
    overflow: hidden;
}

div.upload input {
    display: block !important;
    width: 157px !important;
    height: 57px !important;
    opacity: 0 !important;
    overflow: hidden !important;
}
#image_upload_preview{
    width:157px;
    max-height:157px;
}

.image_upload_preview{
    width:157px;
    max-height:157px;
}

.fake-input { position: relative; max-width:280px; }
.fake-input input { border:none: background:#fff; display:block; width: 100%; box-sizing: border-box }
.fake-input img { position: absolute; top: 7px; right: 5px }
.itemLong {
    width:100%;
}
.itemShort {
    width:100px;
}

.itemArr {
    width:100%;
    height:100px;
}

.tdLbl{
    text-align:right;
    width:16%;
}
.trTblHead{
    background-color:forestgreen;
    color:white;
}
.drp{
    padding-bottom:7px;
     border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          width:100%;
}
.tblTip{
    width:100%;
    background-color:white;
}
.tblTip td{
    text-align:center;
}
#newGroupName{
    width:100%;
}
.btn-smol{
     display: inline-block;
  padding: 3px 6px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
       
}
.tip{
    background-color:black;
    color:white;
}
.navbar-inverse
{
    border-bottom: 4px solid #ff9500;
   
}
.navbar-inverse .navbar-nav > li > a{
 color:#ff9500;
}

.jumbotron {
   background-image:url("/images/wg1.png");
   background-repeat:no-repeat;
   background-color:forestgreen;
   text-align:right;
   color:gainsboro;

   color: white;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
.stp{
    background-color:forestgreen;
 margin:1px;
    border-radius: 8px;
    padding:3px 6px;
    color:white;
 
}
.numb{
    background-color:#ff9500;
   border: 2px solid;
     border-radius: 45px;
    padding:2px 9px 2px 9px;
    
}

.row{
    background-color:linen;
      border-radius:8px;
           padding:6px 6px;
  width:100%
}
footer{
    background-color:forestgreen;
    margin:1px;
    border-radius: 0px 0px 8px 8px;
    padding:6px 6px;
    color:white;
  
}
.ttl{
 background-color:forestgreen;
    margin:1px;
    border-radius:8px 8px 0px 0px;
    padding:6px 6px;
    color:white;
    width:100%;
    display:block;
}