﻿@model OosControlPanel.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}

<h2><span class="ttl">Welcome Online Ordering System.</span></h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>

    <div class="row">
      Please,
        <br/>
        Complete Account and start create Company..
    </div>

    
</div>
