﻿@using OosControlPanel.Properties
@model Facad.DataContract.Client
@{
    ViewBag.Title = "AddClient";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";

    <link rel="stylesheet" href="~/Scripts/js_color_picker_v2/js_color_picker_v2.css" media="screen">
    <script src="~/Scripts/js_color_picker_v2/color_functions.js"></script>
    <script type="text/javascript" src="~/Scripts/js_color_picker_v2/js_color_picker_v2.js"></script>

}

<h2><span class="ttl">Company</span></h2>
@*@using (Html.BeginForm("AddClient", "Clients", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))*@
@using (Html.BeginForm("AddClient", "Clients", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    <div class="row">
        @Html.AntiForgeryToken()
        <h4>Add Or Edit Company</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.ClientID)

        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.Company, new { @class = "control-label" })
                <div>
                    @Html.TextBoxFor(m => m.Company, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Company, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CompanyEmail, new { @class = "control-label" })
                <div>
                    @Html.TextBoxFor(m => m.CompanyEmail, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.CompanyEmail, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Company Phone", new { @class = "control-label" })
                <div>
                    @Html.TextBoxFor(m => m.CompanyPhone, new { @class = "phone form-control" })
                    @Html.ValidationMessageFor(m => m.CompanyPhone, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Address", new { @class = "control-label" })
                <div>
                    @Html.TextAreaFor(m => m.CompanyAddress, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.CompanyAddress, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Is Active", new { @class = "control-label" })
                <div>
                    @Html.CheckBoxFor(m => m.IsActive, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.Label("Delivery Note", new { @class = "control-label" })
                <div>
                    @Html.TextAreaFor(m => m.DeliveryNote, new { @class = "form-control", rows = "18" })
                    @Html.ValidationMessageFor(m => m.DeliveryNote, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <div>
                    @if (Model.ClientID > 0)
                    {
                        <br />
                        @Html.ActionLink("Shipments", "Index", "Shipment", new { id = Model.ClientID }, new { });
                        <br />
                        @Html.ActionLink("Group/Category", "Index", "ShipmentGroup", new { id = Model.ClientID }, new { });
                        <br />
                        @Html.Raw(string.Format("<a href=\"#\" onclick=\"window.open('{0}?domainid={1}', 'newwindow', 'width=1000, height=950'); return false; \">Previwe</a>", OosControlPanel.Properties.Settings.Default.FrontEndUrl, Model.ClientID.ToString()))

                    }
                </div>
            </div>
        </div>
    </div>
    <hr />
    <h4>Host Details</h4>
    <hr />
    <div class="col-md-4">
        <div class="form-group">
            @Html.HiddenFor(m => m.LogoImageID)
            @if (Model.LogoImageID > 0)
            {
                <img id="image_upload_preview" src="/blob/Index/@Model.LogoImageID.ToString()" alt="your image" />
            }
            else
            {
                <img id="image_upload_preview" src="http://placehold.it/100x100" alt="your image" />
            }
            <div class="upload">
                <input type='file' id="inputFile" name="LogoFile" />
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            @Html.LabelFor(m => m.Domain, new { @class = "control-label" })

            <div>
                @Html.TextBoxFor(m => m.Domain, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Preparation Time", new { @class = "control-label" })
            <div>
                @Html.TextBoxFor(m => m.PreparationTime, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Background Color", new { @class = "control-label" })
            <div class="fake-input">
                @Html.TextBoxFor(m => m.BackgroundColor, new { @class = "form-control", maxlength = "7" })
                <img style="float:right;padding-right:1px;padding-top:1px" src="/images/select_arrow.gif" onmouseover="this.src='/images/select_arrow_over.gif'" onmouseout="this.src='/images/select_arrow.gif'" onclick="showColorPicker(this,document.getElementById('BackgroundColor'))">
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Header Color", new { @class = "control-label" })
            <div class="fake-input">
                @Html.TextBoxFor(m => m.HeaderColor, new { @class = "form-control", maxlength = "7" })
                <img style="float:right;padding-right:1px;padding-top:1px" src="/images/select_arrow.gif" onmouseover="this.src='/images/select_arrow_over.gif'" onmouseout="this.src='/images/select_arrow.gif'" onclick="showColorPicker(this,document.getElementById('HeaderColor'))">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            @Html.Label("Include Company Name", new { @class = "control -label" })
            <div>
                @Html.CheckBoxFor(m => m.IncludeCompanyName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Include Company Email", new { @class = "control -label" })
            <div>
                @Html.CheckBoxFor(m => m.IncludeCompanyEmail, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Include Company Phone", new { @class = "control -label" })
            <div>
                @Html.CheckBoxFor(m => m.IncludeCompanyPhone, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
        </div>
    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                            @Html.ActionLink("Cancel", "Index", new { id = 0 }, new { @class = "btn btn-default" })
                        </div>
                    </div>
}

