﻿@model Facad.DataContract.Client

@{
    ViewBag.Title = "Company";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";

    <link rel="stylesheet" href="~/Scripts/js_color_picker_v2/js_color_picker_v2.css" media="screen">
    <script src="~/Scripts/js_color_picker_v2/color_functions.js"></script>
    <script type="text/javascript" src="~/Scripts/js_color_picker_v2/js_color_picker_v2.js"></script>
}

<h2>My Campaign</h2>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<hr />

    @using (Html.BeginForm("Company", "Clients", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
  
   
    <div id="Shipments">
        @{ 
            var Shipments = Model.Shipments;
            foreach (var item in Shipments)
            {
        <table id="item" class="defTbl">
            <tr>
                <td rowspan="3" class="col-md-2">
                    <img id="image_upload_previewShipment" class="image_upload_preview" src="http://placehold.it/100x100" alt="your image" />
                    <div class="upload">
                        <input type='file' id="inputFileShipment" onchange="readItemsURL(this, 'image_upload_previewShipment')" />
                    </div>
                </td>

                <td class="col-md-1">
                    @Html.Label("Name", new { @class = "control-label" })
                </td>
                <td colspan="3" class="col-md-7">
                    <div>
                        @Html.TextBox("itemName", item.Name, new { @class = "itemLong", maxlength ="300" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Description", new { @class = "control-label" })
                </td>
                <td colspan="3">
                    <div>
                        @Html.TextArea("itemDescription", item.Description, new { @class = "itemArr", maxlength ="500" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Measure", new { @class = "control-label" })
                </td>
                <td>
                    <div>
                        @Html.TextBox("itemUofM", item.UofM, new { @class = "itemShort", maxlength ="12" })
                    </div>
                </td>

                <td>
                    @Html.Label("Price", new { @class = "control-label" })
                </td>
                <td>
                    <div>
                        @Html.TextBox("itemPrice", item.Price, new { @class = "itemShort", maxlength = "12" })
                    </div>
                </td>
                <td>
                    <div>
                        <a href="javascript:void(0)" onclick="openConfirmDialog(function () { removeShipment(event) })">Delete</a>
                    </div>
                </td>

            </tr>
        </table>
                }
            }

    </div>

    <table  class="defTbl">
        <tr>
            <td><a class="btn btn-default" href="javascript:void(0)" onclick="addShipment()">Add Shipment</a></td>
            <td><input type="submit" class="btn btn-default" value="Save" /></td>
        </tr>
    </table>
       


            }

