﻿@model Facad.DataContract.Clients
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}

<h2><span class="ttl">My Companies</span></h2>
<div class="row">
    <h4>Add Or Edit Company</h4>
    <hr />
    <table class="defTbl">
        <tr class="trTblHead">
            <th>IsActive</th>
            <th>Company</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Domain</th>
            <th></th>
        </tr>

        @{
            var cc = Model.UserClients;
            foreach (var item in cc)
            {
                <tr>
                    <td>@(item.IsActive ? "Yes" : "No")</td>
                    <td>@Html.Label(item.Company, "Company", new { id = item.ClientID })</td>
                    <td>@Html.Label(item.CompanyEmail, new { @class = "control-label" })</td>
                    <td>@Html.Label(item.CompanyPhone, new { @class = "control-label" })</td>
                    <td>@Html.Label(item.Domain, new { @class = "control-label" })</td>
                    <td>@Html.ActionLink("Edit", "AddClient", new { id = item.ClientID })</td>
                </tr>
            }
        }


        <tr class="cmdTr">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>@Html.ActionLink("Add Company", "AddClient", new { id = 0 })</td>
        </tr>
    </table>
    </div>