﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Online Order System</h1>
    <h2>If You have a business and You Deliver goods or services</h2>
    <h2> We can help You to boost your business.</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="stp">
            <h3><span>STEP</span> <span class="numb">1</span></h3>
            <br />
            <p>
                Register in our system for free. Set up the list for your goods or services (we can help weth it).
            </p>
            <p></p>
        </div>
        </div>
    <div class="col-md-4">
        <div class="stp">
            <h3><span>STEP</span> <span class="numb">2</span></h3>
            <br />
            <p>Register Your Domaini and have your domain itegrated with us.</p>
            <p></p>
        </div>
        </div>
    <div class="col-md-4">
        <div class="stp">
            <h3><span>STEP</span> <span class="numb">3</span></h3>
            <br />
            <p>You will have your website integrated with online ordering and payment system.</p>
            <p></p>
        </div>
        </div>
</div>