﻿@using Facad.DataContract
@model AddPhoneNumberViewModel
@{
    ViewBag.Title = "Account Settings Change Phone";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}

<h2>Account Settings Change Phone</h2>

@using (Html.BeginForm("ChangePhone", "AccountSetting", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Change Phone Form</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control phone" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPhone, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ConfirmPhone, new { @class = "form-control phone" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}