﻿@model Facad.DataContract.User
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}

<h2><span class="ttl">Account Settings</span></h2>
<div class="row">
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>@Html.Label("Email:", new { @class = "col-md-2 control-label" })</dt>
        <dd>
            <div class="form-group">
                @Html.Raw(string.Format("<span class='form-control'>{0}</span>", Model.UserEmail))
            </div>
        </dd>

        <dt>@Html.Label("Phone:", new { @class = "col-md-2 control-label" })</dt>
        <dd>
            <div class="form-group">
                @Html.Raw(string.Format("<span class='form-control'>{0}</span>", Model.Phone))

                @Html.ActionLink("Change Phone", "ChangePhone", "AccountSetting", new { area = "" }, new { @class = "col-md-2 control-label" })

            </div>
        </dd>

        <dt>@Html.Label("Password:", new { @class = "col-md-2 control-label" })</dt>
        <dd>
            <div class="form-group">
                @Html.Raw(string.Format("<span class='form-control'>{0}</span>", "******"))

                @Html.ActionLink("Change Password", "ChangePassword", "AccountSetting", new { area = "" }, new { @class = "col-md-2 control-label" })

            </div>
        </dd>
    </dl>
    </div>