﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="default.aspx.cs" Inherits="AddressServiceTestingClient._default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <asp:Label ID="Label1" runat="server" Text="Address Line"></asp:Label>
        <asp:TextBox ID="txtAddress" runat="server" Width="599px"></asp:TextBox>
        <br />
        <br />
        <asp:Label ID="Label2" runat="server" Text="City/Town"></asp:Label>
        <asp:TextBox ID="txtCity" runat="server" Width="583px"></asp:TextBox>
        <br />
        <br />
        <asp:Label ID="Label3" runat="server" Text="State"></asp:Label>
        <asp:TextBox ID="txtState" runat="server"></asp:TextBox>
        <br />
        <br />
        <br />
        <br />
        <br />
        <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Submit" />
        <br />
        <br />
        <br />
        <br />
    
    </div>
        <asp:Label ID="lblResponse" runat="server" Text="Response Goes Here"></asp:Label>
    </form>
</body>
</html>
